In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv("minisaurus.csv")

In [25]:
df.columns

Index(['star_mass', 'logL', 'log_R', 'log_g', 'surf_avg_omega_div_omega_crit',
       'surf_avg_v_rot', 'profile_number', 'Myr', 'm', 'z', 'v', 'tr_num',
       'density', 'teff', 'gyre_fn', 'n1ell0m0', 'n2ell0m0', 'n3ell0m0',
       'n4ell0m0', 'n5ell0m0', 'n6ell0m0', 'n7ell0m0', 'n8ell0m0', 'n9ell0m0',
       'n10ell0m0', 'n1ell1m0', 'n2ell1m0', 'n3ell1m0', 'n4ell1m0', 'n5ell1m0',
       'n6ell1m0', 'n7ell1m0', 'n8ell1m0', 'n9ell1m0', 'n10ell1m0',
       'n1ell1dfreq', 'n2ell1dfreq', 'n3ell1dfreq', 'n4ell1dfreq',
       'n5ell1dfreq', 'n6ell1dfreq', 'n7ell1dfreq', 'n8ell1dfreq',
       'n9ell1dfreq', 'n10ell1dfreq', 'Dnu', 'eps', 'omega', 'Prot'],
      dtype='object')

In [26]:
df = df[[ 'm', 'z', 'v', 'Myr', 'logL', 'teff', 'density', 'log_R', 'log_g', 'surf_avg_omega_div_omega_crit',
       'surf_avg_v_rot', 'omega', 'Prot', 'profile_number', 'tr_num', 'gyre_fn', 'n1ell0m0', 'n2ell0m0', 'n3ell0m0',
       'n4ell0m0', 'n5ell0m0', 'n6ell0m0', 'n7ell0m0', 'n8ell0m0', 'n9ell0m0',
       'n10ell0m0', 'n1ell1m0', 'n2ell1m0', 'n3ell1m0', 'n4ell1m0', 'n5ell1m0',
       'n6ell1m0', 'n7ell1m0', 'n8ell1m0', 'n9ell1m0', 'n10ell1m0',
       'n1ell1dfreq', 'n2ell1dfreq', 'n3ell1dfreq', 'n4ell1dfreq',
       'n5ell1dfreq', 'n6ell1dfreq', 'n7ell1dfreq', 'n8ell1dfreq',
       'n9ell1dfreq', 'n10ell1dfreq', 'Dnu', 'eps']]

In [28]:
df.to_csv('minisaurus.csv')

In [15]:
R_ss = np.power(10,df["log_R"])*6.957E08    ##m
omega = df['omega']         ##day-1
M = df['m']*1.989E30        ##kg
G = 6.67408E-11*86400*86400   ##m3 kg-1 day-2

In [16]:
R_p = R_ss/(1+(omega**2)*(R_ss**3)/(3*G*M))  ##m
omega_c = np.sqrt(8*G*M/(27*R_p**3))            ##day-1
R_e = R_p*(1+(omega**2)/2)                      ##m
mean_density = 3*M/(4*np.pi*R_e**2*R_p)         ##kg m-3

In [20]:
df["omega_c"] = omega_c
df["logR_p"] = np.log10(R_p/6.957E08)
df["logR_e"] = np.log10(R_e/6.957E08)
df["log_mean_density"] = np.log10(mean_density)

In [22]:
df.to_csv("minisaurus_new.csv",index=False)

In [21]:
df

,star_mass,logL,log_R,log_g,surf_avg_omega_div_omega_crit,surf_avg_v_rot,profile_number,Myr,m,z,...,n9ell1dfreq,n10ell1dfreq,Dnu,eps,omega,Prot,omega_c,logR_p,logR_e,log_mean_density
0,1.20,0.645687,0.280240,3.956769,0.000000,0.000000,28,5.100000,1.20,0.001,...,0.0,0.0,4.934,0.865,0.000000,NaN,12.288193,0.280240,0.280240,2.387742
1,1.20,0.661551,0.277066,3.963117,0.000000,0.000000,29,5.287500,1.20,0.001,...,0.0,0.0,4.942,0.885,0.000000,NaN,12.423628,0.277066,0.277066,2.397263
2,1.20,0.676037,0.272535,3.972178,0.000000,0.000000,30,5.475000,1.20,0.001,...,0.0,0.0,4.951,0.931,0.000000,NaN,12.619575,0.272535,0.272535,2.410856
3,1.20,0.689324,0.266633,3.983982,0.000000,0.000000,31,5.662500,1.20,0.001,...,0.0,0.0,4.965,0.993,0.000000,NaN,12.879456,0.266633,0.266633,2.428561
4,1.20,0.701538,0.259162,3.998924,0.000000,0.000000,32,5.850000,1.20,0.001,...,0.0,0.0,4.997,1.060,0.000000,NaN,13.216120,0.259162,0.259162,2.450974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2679979,2.22,1.385799,0.599879,3.584663,1.866667,563.275094,312,332.949267,2.22,0.026,...,NaN,NaN,0.797,9.679,2.797393,0.357476,5.751867,0.589083,1.280404,0.345743
2679980,2.22,1.386274,0.601447,3.581527,1.873570,564.345241,313,335.099680,2.22,0.026,...,NaN,NaN,0.793,9.684,2.792609,0.358088,5.722372,0.590572,1.280708,0.343645
2679981,2.22,1.386730,0.602955,3.578512,1.880238,565.377409,314,337.158771,2.22,0.026,...,NaN,NaN,0.789,9.685,2.788019,0.358678,5.694158,0.592003,1.281003,0.341625
2679982,2.22,1.387172,0.604454,3.575512,1.886973,566.427176,315,339.154937,2.22,0.026,...,NaN,NaN,0.839,8.680,2.783567,0.359251,5.666259,0.593425,1.281321,0.339566
2679983,2.22,1.387473,0.605767,3.572887,1.893460,567.522327,316,340.500000,2.22,0.026,...,NaN,NaN,0.836,8.674,2.780532,0.359643,5.642094,0.594662,1.281805,0.337360